@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: 'Lato', sans-serif; 
    margin: 0;
    padding: 0;
    background: #171616;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    backdrop-filter: blur(60px);
    position: relative; 
}

html, body {
    height: 100%; 
    overflow: hidden; 
    width: 100vw;
    overflow-x: hidden; 
}

.euler-top-left, .euler-bottom-right {
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    box-shadow: 0 0 200px 80px rgba(249, 209, 63, 0.308);
    pointer-events: none;
    z-index: -1;
}

.euler-top-left {
    top: 25px;
    left: 55px;
}

.euler-bottom-right {
    bottom: 75px;
    right: -50px;
}

.greet-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%; 
    max-width: 400px; 
    padding: 20px;
    box-sizing: border-box;
    background: #00000000;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #444;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.5);
}

@media (max-width: 500px) {
    .greet-container {
        border: none;
        box-shadow: none;
        position: static;
    }
}

.logo {
    width: 89px;
    height: 69px;
    margin-bottom: 20px; 
    margin-top: 35px;
    align-self: center; 
}

h1 {
    font-family: 'Montserrat', sans-serif; 
    font-size: 36px;
    font-weight: 400;
    line-height: 43.88px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1; 
}

label {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 100;
    text-align: left;
    color: #FCF9F2;
    margin-bottom: 20px;
}

.labelSMS {
    margin-top: 20px;
}

.phone-container {
    position: relative; 
    display: flex;
    align-items: center;
}

.phone-container input {
    width: 100%; 
    padding: 10px;
    font-size: 16px;
    height: 31px;
    border: 1px solid #444;
    border-radius: 8px; 
    background: #171616;
    color: #fff;
    padding-right: 90px; 
}

.phone-container input::placeholder {
    color: #888;
    text-indent: 25px;
    outline: none;
}

.phone-container .send-sms {
    position: absolute;
    font: 'Lato', sans-serif; 
    top: 0;
    right: 0;
    height: 100%;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 400;
    background: #F9D03F;
    color: #000;
    border: none; 
    border-radius: 8px;
}

#sms-code {
    font-family: 'Lato', sans-serif; 
    text-align: center; 
    padding: 10px;
    border: 1px solid rgba(249, 208, 63, 1);
    border-radius: 8px;
    background: #171616;
    color: #fff;
    height: 35px;
}

#sms-code::placeholder {
    color: rgba(248, 208, 64, 1);
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

span {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #F9D03F;
}

.form-footer {
    display: flex;
    justify-content: center; 
    margin-top: auto;
    margin-bottom: 10px;
}

.form-footer button {
    width: 100%;
    max-width: 400px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 12px;
    height: 53px;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right, rgba(249, 208, 63, 1), rgba(233, 179, 42, 1));
    color: #000;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 4px 24px 4px rgba(249, 209, 64, 0.2);

}